---
- name: Import Certificate File
  ansible.builtin.copy:
    src: "{{ certificates_item.src_cert }}"
    dest: "{{ certificates_cert_dir }}/{{ certificates_item.name }}.crt"
    mode: '0644'
    owner: root
    group: root

- name: Import Private Key File
  ansible.builtin.copy:
    src: "{{ certificates_item.src_key }}"
    dest: "{{ certificates_key_dir }}/{{ certificates_item.name }}.key"
    mode: '0600'
    owner: root
    group: root

- name: Import Chain File (Optional)
  ansible.builtin.copy:
    src: "{{ certificates_item.src_chain }}"
    dest: "{{ certificates_cert_dir }}/{{ certificates_item.name }}.chain.crt"
    mode: '0644'
    owner: root
    group: root
  when: certificates_item.src_chain is defined
