---
- name: Issue Certificate (HTTP-01)
  ansible.builtin.command:
    cmd: >-
      certbot certonly --non-interactive --agree-tos
      --email {{ certificates_certbot_defaults.email }}
      --server {{ certificates_certbot_defaults.server_url }}
      --webroot -w {{ certificates_item.webroot | default('/var/www/html') }}
      {% set deploy = certificates_item.deploy_hook | default(certificates_certbot_defaults.deploy_hook) %}
      {{ '--deploy-hook "' + deploy + '"' if deploy else '' }}
      -d {{ certificates_item.name }}
      {{ '-d ' + certificates_item.san | join(' -d ') if certificates_item.san is defined else '' }}
  args:
    creates: "/etc/letsencrypt/live/{{ certificates_item.name }}/cert.pem"
  when: certificates_item.challenge_type | default('http-01') == 'http-01'

- name: Issue Certificate (DNS-01 with plugin)
  ansible.builtin.command:
    cmd: >-
      certbot certonly --non-interactive --agree-tos
      --email {{ certificates_certbot_defaults.email }}
      --server {{ certificates_certbot_defaults.server_url }}
      --dns-{{ certificates_item.dns_provider | default(certificates_certbot_defaults.dns_provider) }}
      --dns-{{ certificates_item.dns_provider | default(certificates_certbot_defaults.dns_provider) }}-credentials
      {{ certificates_item.dns_credentials | default(certificates_certbot_defaults.dns_credentials) }}
      {% set deploy = certificates_item.deploy_hook | default(certificates_certbot_defaults.deploy_hook) %}
      {{ '--deploy-hook "' + deploy + '"' if deploy else '' }}
      -d {{ certificates_item.name }}
      {{ '-d ' + certificates_item.san | join(' -d ') if certificates_item.san is defined else '' }}
  args:
    creates: "/etc/letsencrypt/live/{{ certificates_item.name }}/cert.pem"
  when:
    - certificates_item.challenge_type | default('http-01') == 'dns-01'
    - (certificates_item.dns_provider | default(certificates_certbot_defaults.dns_provider)) != 'custom'

- name: Issue Certificate (DNS-01 with custom hooks)
  ansible.builtin.command:
    cmd: >-
      certbot certonly --non-interactive --agree-tos
      --email {{ certificates_certbot_defaults.email }}
      --server {{ certificates_certbot_defaults.server_url }}
      --manual
      --manual-auth-hook "{{ certificates_item.auth_hook | default(certificates_certbot_defaults.auth_hook) }}"
      --manual-cleanup-hook "{{ certificates_item.cleanup_hook | default(certificates_certbot_defaults.cleanup_hook) }}"
      --preferred-challenges dns
      {% set deploy = certificates_item.deploy_hook | default(certificates_certbot_defaults.deploy_hook) %}
      {{ '--deploy-hook "' + deploy + '"' if deploy else '' }}
      -d {{ certificates_item.name }}
      {{ '-d ' + certificates_item.san | join(' -d ') if certificates_item.san is defined else '' }}
  args:
    creates: "/etc/letsencrypt/live/{{ certificates_item.name }}/cert.pem"
  when:
    - certificates_item.challenge_type | default('http-01') == 'dns-01'
    - (certificates_item.dns_provider | default(certificates_certbot_defaults.dns_provider)) == 'custom'

- name: Link Certificate Files
  ansible.builtin.file:
    src: "/etc/letsencrypt/live/{{ certificates_item.name }}/{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: 'cert.pem', dest: "{{ certificates_cert_dir }}/{{ certificates_item.name }}.crt" }
    - { src: 'privkey.pem', dest: "{{ certificates_key_dir }}/{{ certificates_item.name }}.key" }
    - { src: 'chain.pem', dest: "{{ certificates_cert_dir }}/{{ certificates_item.name }}.chain.crt" }
