---
- name: Ensure private key exists (Self-Signed)
  community.crypto.openssl_privatekey:
    path: "{{ certificates_key_dir }}/{{ certificates_item.name }}.key"
    size: "{{ certificates_item.key_size | default(certificates_selfsigned_defaults.key_size) }}"
    type: "{{ certificates_item.key_type | default(certificates_selfsigned_defaults.key_type) }}"
  register: certificates_selfsigned_key

- name: Generate CSR (Self-Signed)
  community.crypto.openssl_csr:
    path: "/tmp/{{ certificates_item.name }}.csr"
    privatekey_path: "{{ certificates_key_dir }}/{{ certificates_item.name }}.key"
    common_name: "{{ certificates_item.common_name | default(certificates_item.name) }}"
    country_name: "{{ certificates_item.country | default(certificates_selfsigned_defaults.country) }}"
    state_or_province_name: "{{ certificates_item.state | default(certificates_selfsigned_defaults.state) }}"
    locality_name: "{{ certificates_item.locality | default(certificates_selfsigned_defaults.locality) }}"
    organization: >-
      {{ certificates_item.organization | default(certificates_selfsigned_defaults.organization) }}
    organizational_unit: >-
      {{ certificates_item.organizational_unit
      | default(certificates_selfsigned_defaults.organizational_unit) }}
    email: "{{ certificates_item.email | default(certificates_selfsigned_defaults.email) }}"
    subject_alt_name: "{{ certificates_item.san | default(omit) }}"
  register: certificates_selfsigned_csr

- name: Generate Self-Signed Certificate
  community.crypto.x509_certificate:
    path: "{{ certificates_cert_dir }}/{{ certificates_item.name }}.crt"
    privatekey_path: "{{ certificates_key_dir }}/{{ certificates_item.name }}.key"
    csr_path: "/tmp/{{ certificates_item.name }}.csr"
    provider: selfsigned
    selfsigned_not_after: >-
      +{{ certificates_item.validity_days | default(certificates_selfsigned_defaults.validity_days) }}d
  register: certificates_selfsigned_cert

- name: Remove CSR file (Self-Signed)
  ansible.builtin.file:
    path: "/tmp/{{ certificates_item.name }}.csr"
    state: absent
