<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ apache_server_name }}</title>
</head>
<body>
      <!-- Managed by Ansible -->
      <H1>{{ apache_server_name }}</H1>
</body>
</html>
